- const sizes = { committee: '4u 6u(xsmall)', organisers: '3u 6u(xsmall)', default: '3u 6u(xsmall)' }
- const show = { committee: true, organisers: false, default: false }

mixin organiser(member, teamName)
  article(class=sizes[teamName in sizes ? teamName : 'default'])
    img.image.fit(src=member.avatarUrl, alt=`Image of ${member.name || member.login}`)
    h3.major= member.name || member.login

    if show[teamName in show ? teamName : 'default']
      span= member.role

    ul.icons
      if member.email.length
        li
          a.icon.fa-envelope(href=`mailto:${member.email}`)
            span.label E-mail

      if member.websiteUrl
        li
          a.icon.fa-globe(href=`${member.websiteUrl.startsWith('http') ? '' : 'http://'}${member.websiteUrl}`)
            span.label Website

      if member.twitter
        li
          a.icon.fa-twitter(href=`https://twitter.com/${member.twitter}`)
            span.label Twitter

      li
        a.icon.fa-github(href=member.url, target='_blank')
          span.label Github
